.list {
  margin: 8px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  background-color: white;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 8px;
  flex-grow: 1;
  min-height: 100px;
}
